* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.linea-roja {
    background-color: #d32f2f;
    height: 8px;
}

/* Línea blanca */
.linea-blanca {
    background-color: white;
    height: 8px;
}

/* Línea decorativa */
.linea-decorativa {
    display: flex;
}
